.submit {
  display: flex;
  justify-content: center;
}

.separator {
  margin-top: 1.5rem;
}

.hide {
  display: none !important;
}

.download-btn {
  font-size: 1.2rem;
  width: 50%;
}

.download-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
