.submit {
  display: flex;
  justify-content: center;
}

.separator {
  margin-top: 1.5rem;
}

.hide {
  display: none !important;
}

.download-btn {
  font-size: 1.2rem;
  width: 50%;
}

.download-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo {
 width: 10em;
}

.navbar-custom {
  background-color: #28134E;
}

.autocomplete {
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
  overflow-y: scroll;
  max-height: 20rem;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}